<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{blog/css/article.css}" />
</head>
<div class="header">
    <h2>文章列表</h2>
</div>
<a href="article/create">增加文章</a> <a href="/">回首頁</a>
<div class="row" th:object="${article}">
    <div class="leftcolumn">
        <div class="card" th:each="list, stat : ${article}">
            <h2 th:text="${list.title}"></h2>
            <h4 th:text="${list.content}"></h4>
            <div class="fakeimg" style="height:90px;" th:src="@{{filePath}+${list.image}}"></div>
            <a th:href="@{'article/view/'+${list.id}}">more view</a>
            <a class="rightcolumn" th:href="@{'article/delete/'+${list.id}}">Delete</a>
            <a class="rightcolumn" th:href="@{'article/edit/'+${list.id}}">Edit</a>
        </div>
    </div>
</div>