<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head><title>SpringBoot</title>
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>
</head>
<body>
<div th:object="${lists}">
    <h1>目前有的資料</h1>

<table>
    <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>age</th>
        <th>height</th>
        <th>weight</th>
        <th>job</th>
        <th>interest</th>
        <th>Action</th>
    </tr>
        <tr th:each="list, stat : ${lists}">
            <td th:text="${list.firstName}"></td>
            <td th:text="${list.lastName}"></td>
            <td th:text="${list.age}"></td>
            <td th:text="${list.height}"></td>
            <td th:text="${list.weight}"></td>
            <td th:text="${list.job}"></td>
            <td th:text="${list.interest}"></td>

            <td>
                <a th:href="@{'crud/view/'+${list.id}}">view</a>
                <a th:href="@{'crud/delete/'+${list.id}}">Delete</a>
                <a th:href="@{'crud/edit/'+${list.id}}">Edit</a>
            </td>
        </tr>
</table>
</div>
<a href="crud/add">增加資料</a> <a href="/">回首頁</a>
<!--<img src="${filename}" alt="Mountain View" style="width:304px;height:228px"/>-->
<hr/>


<!--<form enctype="multipart/form-data" method="post" action="/inputfile">-->
<!--    <input type="file" name="file"/>-->
<!--    <input type="submit" value="上傳"/>-->
<!--</form>-->
</body>
</html>
