<!DOCTYPE html>
<html lang="en">
<script type="text/javascript">
    function findata(){
        var one =document.getElementsByName(setid);
        var two =document.getElementsByName(setname);
        document.getElementById("finddata").innerHTML=one;
    }
</script>
<head>
    <meta charset="UTF-8">
    <title>mysqlCreate</title>
</head>
<body>
 <form action="" name="setfrom"  method="post">
    id：  <input type="text" name="setid"><br/>
    name：<input type="text" name="setname"><br/>
    price：<input type="text" name="setprice"><br/>
    <input type="submit" value="送出" onclick="findata()"> <br/>
</form>
<p id="finddata">test</p>

<a href="/mysql/home">回首頁</a>
</body>
</html>