<!DOCTYPE html>
<html lang="en">
<script type="text/javascript">
    function ChangeString(){
        var NewStringValue=document.getElementById("StringTextBox").value;
        document.getElementById("NewStringBox").innerHTML=NewStringValue;
    }
</script>
<head>
    <meta charset="UTF-8">
    <title>mysqlUpdata</title>
</head>
<body>
<p id="NewStringBox">請輸入新的文字來改變這段文字</p>
<input type="text" id="StringTextBox">
<input type="button" value="變更文字" onclick="ChangeString()">
<a href="/mysql/home">回首頁</a>
</body>
</html>