<!DOCTYPE html>
<html lang="en">
<script type="text/javascript">
    function findata(){
        var one =document.getElementsByName(fname);
        var two =document.getElementsByName(lname);
        document.getElementById("finddata").innerHTML=one;
        document.getElementById("finddata").innerHTML=two;
    }
</script>
<head>
    <meta charset="UTF-8">
    <title>mysqlCreate</title>
</head>
<body>
<p id="finddata">test</p>
<?php
　echo $_POST["fname"];
?>
<input type="button" value="顯示" onclick="findata()">
<a href="/mysql/home">回首頁</a>
</body>
</html>